version: "3.7"
services:

  app:
    container_name: "app"
    image: app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
#    command: bash -c "uvicorn main:app"
#    networks:
#      - custom